name = "PSFModels"
uuid = "9ba017d1-7760-46cd-84a3-1e79e9ae9ddc"
authors = ["Miles Lucas <mdlucas@hawaii.edu> and contributors"]
version = "0.3.0"

[deps]
ChainRulesCore = "d360d2e6-b24c-11e9-a2a3-2a2ae2dbcce4"
CoordinateTransformations = "150eb455-5306-5404-9cee-2592286d6298"
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
KeywordCalls = "4d827475-d3e4-43d6-abe3-9688362ede9f"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
ChainRulesCore = "1"
CoordinateTransformations = "0.6"
Distances = "0.10"
KeywordCalls = "0.2"
RecipesBase = "1"
SpecialFunctions = "0.10, 1"
StaticArrays = "0.12, 1"
julia = "1.5"
